<section class="pt-16 max-w-screen-xl mx-auto p-4">
  <article class="px-3 m-auto">
    <h1 class="sm:text-4xl text-3xl my-5 border-l-6 border-l-custom-orange-color text-main-color pl-2 uppercase font-mono">Popular Products</h1>
    <!-- Search Input -->
    <div class="my-8 sm:max-w-screen-sm mx-auto">
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
          <span class="sr-only">Search icon</span>
        </div>
        <input [(ngModel)]="searchTerm" type="search" id="search-navbar" class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-1 focus:ring-custom-orange-color/30 focus:border-custom-orange-color outline-0 placeholder:font-mono" placeholder="Search of products...">
      </div>
    </div>
    <!-- List Of Products -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4  gap-8 my-5">
      @for(product of productsList | search: searchTerm; track product.id){
        <app-product-card [product]="product"></app-product-card>
      }
    </div>
  </article>
</section>
