/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@source "../node_modules/flowbite";

/**
 * Global Custom Colors
 * These variables define the custom color palette used throughout the application.
 */
@theme{
  --color-main-color: #0D4715;
  --color-second-color: #41644A;
  --color-custom-orange-color: #E9762B;
  --color-bg-color: #F1F0E9;
  --color-rating-color: #ffc908;
}
